@tailwind base;
@tailwind components;
@tailwind utilities;
// @font-face {
//   font-family: "Nunito-SemiBold";
//   src: url("../fonts/Nunito-SemiBold.ttf");
//   font-weight: normal;
//   font-style: normal;
// }
@layer base {
  body {
    font-family: "Nunito", sans-serif;
    @apply text-base;
  }
}
.layout-container {
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.shadow1 {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
.comic-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 20px;
  @media screen and (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.chapter-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-gap: 10px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  outline: 0;
  width: 94%;
  background: white;
  max-width: 620px;
  padding: 20px;
  z-index: 200;
}
.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
