@tailwind base;
@tailwind components;
@tailwind utilities;
// @font-face {
//   font-family: "Nunito-SemiBold";
//   src: url("../fonts/Nunito-SemiBold.ttf");
//   font-weight: normal;
//   font-style: normal;
// }
@layer base {
  body {
    font-family: "Nunito", sans-serif;
    @apply text-base;
  }
}
.layout-container {
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.shadow1 {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
.comic-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 20px;
  @media screen and (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.chapter-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-gap: 10px;
}
